.buttonn {
    margin-top: 200px;
    margin-left: 115px;
    font-family: 'Poppins', sans-serif;
}

.buttonn div {
    margin-left: -4px;
    height: 50px;
    width: 170px;
    color: black;
    font-family: 'Poppins', sans-serif;
    background: #D0D0D0D0;
    border: 1px solid #39526C;
    box-sizing: border-box;
    border-radius: 5px 5px 0px 0px;

}

.buttonn div:focus {
    background: #F5F5F5;

}


.setting1 {
    display: block;

}

.setting2 {
    display: none;
}

.setting3{
    display: none;
}

.setting4{
    display: none;
}

.setting5{
    display: none;
}